<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.dsu.dc.mapper.BoardMapper">
  	<select id="getList" resultType="org.dsu.dc.domain.BoardVO">
  		SELECT * FROM sil_sup_sil
		ORDER BY bno DESC
  	</select>

	<insert id="insert">
		INSERT INTO sil_sup_sil (Sno, Sname, PCno)
		VALUES (#{Sno}, #{Sname}, #{PCno})
	</insert>
	
	<insert id="insertSelectKey" parameterType="org.dsu.dc.domain.BoardVO"
			useGeneratedKeys="true">
		INSERT INTO sil_sup_sil (Sno, Sname, PCno)
		VALUES (#{Sno}, #{Sname}, #{PCno})
		<selectKey keyProperty="bno" resultType="long" order="AFTER">
			SELECT MAX(bno) from sil_sup_sil;
		</selectKey>
	</insert>
	
	
	<delete id="delete">
		DELETE FROM sil_sup_sil
		WHERE bno = #{bno}
	</delete>
	
	<update id="update">
		UPDATE sil_sup_sil
		SET Sno=#{Sno}, Sname=#{Sname}, PCno=#{PCno}, 
			Logoutdate=now()
		WHERE bno = #{bno}
	</update>
	
	
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			SELECT count(*) FROM sil_sup_sil WHERE bno > 0
		]]>
	</select>
	
	<select id="read" resultType="org.dsu.dc.domain.BoardVO">
  		SELECT * FROM sil_sup_sil
		WHERE bno = #{bno}
  	</select>
	
 
  </mapper>
  
  
  
  
  
  
  
  
  
  