<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="fragments/config :: configFragment"> </head>
	
	<body class="hold-transition skin-blue layout-top-nav">
		<div class="wrapper">
			<header th:replace="fragments/header :: naviFragment"></header>
			
			<div class="content-wrapper">
				<div class="container">
					<section class="content-header">
						<h1>실습실 사용일지 작성 <small>Top Navigation</small></h1>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
							<li><a href="#">Board</a></li>
							<li class="active">실습실 사용일지 작성</li>
						</ol>
					</section>
					
					<section class="content">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">실습실</h3>
							</div>
							<div class="box-body">
								<form role="form" action="/board/register" method="post">
									<div class="form-group">
										<label for="inputSno">학번</label>
										<input type="text" name="Sno" 
										       class="form-control"
										       id="inputSno" placeholder="학번 입력">
									</div>
									
									<div class="form-group">
										<label for="inputSname">이름</label>
										<input type="text" name="Sname" 
											   class="form-control"
											   id="inputSname" placeholder="이름 입력">
									</div>
									
									<div class="form-group">
										<label for="inputPCno">PC번호</label>
										<input type="text" name="PCno" 
										       class="form-control"
										       id="inputPCno" placeholder="PC번호 입력">
									</div>
									
									
									<div class="box-footer">
										<button type="submit" class="btn btn-primary">
											사용 시작
										</button>
									</div>
								</form>
							</div>
						</div>
					</section>
				</div>
			</div>
			
			<footer th:replace="fragments/footer :: footerFragment"></footer>
		</div>
		
		<footer th:replace="fragments/footer :: scriptFragment"></footer>
	</body>
</html>